.flows.json.backup
[
    {
        "id": "49c1baf7.ee04f4",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5704fd32.409f74",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "746a62d2.caa83c",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "5704fd32.409f74",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e823d54a.48e888",
        "type": "inject",
        "z": "49c1baf7.ee04f4",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 80,
        "wires": [
            [
                "1a2d2cca.627643"
            ]
        ]
    },
    {
        "id": "1a2d2cca.627643",
        "type": "function",
        "z": "49c1baf7.ee04f4",
        "name": "Data",
        "func": "msg.payload = Math.round(Math.random()*100);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 80,
        "wires": [
            [
                "1d7041d2.f1f11e"
            ]
        ]
    },
    {
        "id": "1d7041d2.f1f11e",
        "type": "lti_chart",
        "z": "49c1baf7.ee04f4",
        "name": "",
        "group": "746a62d2.caa83c",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 450,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "b2b04f42.e3332",
        "type": "inject",
        "z": "49c1baf7.ee04f4",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 220,
        "wires": [
            [
                "221b280d.694418"
            ]
        ]
    },
    {
        "id": "221b280d.694418",
        "type": "http request",
        "z": "49c1baf7.ee04f4",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_month.csv",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 290,
        "y": 220,
        "wires": [
            [
                "fdb9a18.9a2646"
            ]
        ]
    },
    {
        "id": "fdb9a18.9a2646",
        "type": "csv",
        "z": "49c1baf7.ee04f4",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "x": 470,
        "y": 220,
        "wires": [
            [
                "bab08a6.db1f478",
                "84412040.a5789"
            ]
        ]
    },
    {
        "id": "bab08a6.db1f478",
        "type": "debug",
        "z": "49c1baf7.ee04f4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 640,
        "y": 220,
        "wires": []
    },
    {
        "id": "84412040.a5789",
        "type": "switch",
        "z": "49c1baf7.ee04f4",
        "name": "",
        "property": "payload.mag",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "5",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 280,
        "y": 340,
        "wires": [
            [
                "408dc159.fa4ee"
            ]
        ]
    },
    {
        "id": "408dc159.fa4ee",
        "type": "change",
        "z": "49c1baf7.ee04f4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "PANIC",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 340,
        "wires": [
            [
                "ab8be55.7166018"
            ]
        ]
    },
    {
        "id": "ab8be55.7166018",
        "type": "debug",
        "z": "49c1baf7.ee04f4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 670,
        "y": 340,
        "wires": []
    }
]